body {
	background-color: #E2E2B2;
	counter-reset: chapter 0;
}

h1 {
	counter-reset: sub-chapter 0;
	font-weight: bold;
}

h1:before {
	counter-increment: chapter;
	content: "Rozdział " counter(chapter) ". ";
}

h2:before {
	counter-increment: sub-chapter;
	content: counter(chapter) "." counter(sub-chapter) " ";
}