ul li {
	list-style-type: none;
}

.text {
	padding-left: 1px;
}

.icon {
	float: left;
	width: 16px;
    height: 16px;
	background-position: top;
}

li.closed .icon {
    background: url(icons.png) 0 0;
}

li.open .icon {
    background: url(icons.png) 0 -16px;
}

li.leaf .icon  {
    background: url(icons.png) 0 -32px;
}

.icon:hover {
	cursor: pointer;
}
