table {
    border-collapse: collapse;
	border: 1px solid black;
	font-family: Calibri, Arial, Verdana;
}

td, th {
	padding-left: 5px;
	padding-right: 5px;
}

tr:first-child {
   border: 1px solid black;
   font-style: bold;
}

tr:nth-child(even) {
	background-color: #EFEFFF;
}

td:nth-child(n+3) {
	text-align: right;
}
